.contact-img { /* Image at the entrance of the site */
     width: 100%;
     height: 100vh;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     background-image: linear-gradient(
         rgba(0, 0, 0, 0.2),
         rgba(0, 0, 0, 0.4),
         rgba(0, 0, 0, 0.7)
       ),
       url('../assets/img/many-birds-flying-dramatic-sky-background_331530-3959.avif');
     display: flex;
     justify-content: center;
   }

   .main-title {
     color: white;
     font-size: 3rem;
     font-weight: bold;
     display: inline-block;
     align-self: center;
   }